.accounts_list {
    background-color: #141414;
    margin: 20px;
    color: wheat;
    font-size: 15px;
}

.spin {
    position: absolute;
    width: 90%;
    top:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.account-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .option {
        margin-left: 15px;
    }
}